<!-- /**
 * Title: composer-list.component.html
 * Author: Sarah Massie
 * Date: 10 January 2021
 * Description: Composer list component
*/ -->

<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered table-fixed">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="col-xs-6">Full name</th>
          <th scope="col" class="col-xs-3">Genre</th>
        </tr>
      </thead>
      <tbody *ngFor="let composer of composers">
        <tr scope="row">
          <td class="col-xs-6">{{ composer.fullName }}</td>
          <td class="col-xs-3">{{ composer.genre }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
