<!-- /**
 * Title: contact.component.html
 * Author: Sarah Massie
 * Date: 30 January 2021
 * Description: contact page component
*/ -->

<div fxLayout="row wrap">
  <div fxFlex>

    <mat-card>
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>

      <br />
      <mat-card-content class="align-center">
        <p>
          505 Main Street
        </p>
        <p>
          Omaha, Nebraska
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card>
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

      <br />
      <mat-card-content class="align-center">
        <p>
          Direct: 555-123-4567
        </p>
        <p>
          Toll-Free: 1-555-123-4567
        </p>
        <p>
          Fax: 555-987-6543
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br /><br />
<br /><br />
<div fxLayout="column">
  <p style="text-align: center">
    Visit us online or at one of our many offices throughout the United States.
  </p>
</div>
