<!-- /**
 * Title: about.component.html
 * Author: Sarah Massie
 * Date: 10 January 2021
 * Description: About page component
*/ -->

<h2 class="align-left">About</h2>
  <hr />
  <div class="composer-container">

    <div class="row">
      <div class="col-sm-3" >
        <img src="./assets/tchiakovsky-pic.png" />
      </div>
      <div class="col-sm-9">
        <h4>Pyotr Ilyich Tchaikovsky</h4>
        <br />
          <p>
            Pyotr Ilyich Tchaikovsky, Tchaikovsky also spelled Chaikovsky, Chaikovskii, or Tschaikowsky,
            name in full Anglicized as Peter Ilich Tchaikovsky, (born April 25 [May 7, New Style], 1840, Votkinsk,
            Russia—died October 25 [November 6], 1893, St. Petersburg), the most popular Russian composer of all time.
            His music has always had great appeal for the general public in virtue of its tuneful, open-hearted melodies,
            impressive harmonies, and colourful, picturesque orchestration, all of which evoke a profound emotional response.
            His oeuvre includes 7 symphonies, 11 operas, 3 ballets, 5 suites, 3 piano concertos, a violin concerto,
            11 overtures (strictly speaking, 3 overtures and 8 single movement programmatic orchestral works), 4 cantatas,
            20 choral works, 3 string quartets, a string sextet, and more than 100 songs and piano pieces.
            <em class="apa-reference">
              <a href="https://www.britannica.com/biography/Pyotr-Ilyich-Tchaikovsky" target="_blank">Source</a>
            </em>
          </p>
      </div>
    </div>
  </div>

