<!--
 * Title: my-details.component.html
 * Author: Sarah Massie
 * Date: 9 January 2021
 * Description: my details for an enhanced profile application
-->


<!-- Unstyled list -->
<ul class="list-unstyled">
  <li class="list-group-item">Name: {{ myProfile.fullName }}</li>
  <li class="list-group-item">Favorite Food: {{ myProfile.favoriteFood }}</li>
  <li class="list-group-item">Favorite Color: {{ myProfile.favoriteColor }}</li>
  <li class="list-group-item">
    Keywords:
    <!-- loops through array to show keywords saved in person's details -->
    <span *ngFor="let word of myProfile.keywords">
      {{ word }}
    </span>
  </li>
</ul>
