<!-- /**
 * Title: about.component.html
 * Author: Sarah Massie
 * Date: 30 January 2021
 * Description: About page component
*/ -->

<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img class="author" src="../../assets/author.png">
      </div>

      <div>
        <em>
          Photo by
            <a class="attribution-link"
            href="https://www.goodreads.com/author/show/6538289.David_Mitchell" >
            Paul Stuart</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Who was David Mitchell?</h1>
    <p>
      David Stephen Mitchell (born 12 January 1969) is an English novelist and screenwriter.
      He has written nine novels, two of which, number9dream (2001) and Cloud Atlas (2004),
      were shortlisted for the Booker Prize. He has also written articles for several
      newspapers, most notably for The Guardian, and translated several[citation needed]
      books about autism from Japanese to English. Following the release of the 2012 film
      adaptation of Cloud Atlas, Mitchell started working as a screenwriter alongside
      Lana Wachowski, one of Cloud Atlas' three directors; together with Aleksandar Hemon,
      they wrote the series finale of the television series Sense8 and the upcoming film
      The Matrix 4.
    </p>
    <em>
      Biography by:
        <a target="_blank" class="attribution-link"
          href="https://www.newyorker.com/culture/personal-history/the-transformative-experience-of-writing-for-sense8/">
        Condé Nast</a>
    </em>
  </div>
</div>
